__pycache__
**/.DS_Store
.ipynb_checkpoints
labels/Results_*
labels/*.rtf
labels/flagged.txt
labels/hemorrhage-labels.xlsx

cleaning
images
Project
renders
seg-label

./*.ipynb_checkpoints
*.pptx
*.key
*.pdf
*.zip